<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Burger Menu</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <section id="head">
            <img v-attr="src: imageLink" id="headimage">
            <img src="https://i.dmarge.com/2016/05/bea.jpeg" id="headimage">
            <h1>Welcome to BurgerOnline</h1>
            </section>

            <section id="burger" class="doublesections">

            <h3>Select burger</h3>
            <p>This is where you execute burger selection</p>

            <div class="wrapper">                   
                    <div id="boxA">
                        <p>{{ name() }}</p>
                        <img v-bind:src="imageLink" align="center" width="160">
                            <ul>
                                <li>
                                    <p>{{ kCal() }}</p>
                                    <p>{{ haveGluten() }}</p>
                                    <p>{{ haveLactose() }}</p>
                                </li>
                            </ul>
                    </div>
                    <div id="boxB">
                        <p>{{ name() }}</p>
                        <img v-bind:src="imageLink" align="center" height="117" width="145">
                            <ul>
                                <li>
                                    <p>{{ kCal() }}</p>
                                    <p>{{ haveGluten() }}</p>
                                    <p>{{ haveLactose() }}</p>
                                </li>
                            </ul>
                    </div>
                    <div id="boxC">
                        <p>{{ name() }}</p>
                        <img v-bind:src="imageLink" align="center" width="145">
                            <ul>
                                <li>
                                    <p>{{ kCal() }}</p>
                                    <p>{{ haveGluten() }}</p>
                                    <p>{{ haveLactose() }}</p>
                                </li>
                            </ul>
                    </div>
                </div>
            
            </section>

            <section id="userinfo" class="doublesections">
            <h3>Customer Information</h3>
            <p>This is where you provide necessary information</p>
            <h4>Delivery information</h4>
            <p>
                <label for="fullname">Full name</label><br>
                <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
            </p>
            <p>
                <label for="email">E-mail</label><br>
                <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
            </p>
            <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="st" required="required" placeholder="Street name">
            </p>
            <p>
                <label for="house">House</label><br>
                <input type="text" id="house" name="hs" required="required" placeholder="House number">
            </p>

            <p>
                    <label for="payment">Payment Options</label><br>
                    <select id="payment" name="po">
                        <option>Visa</option>
                        <option>Mastercard</option>
                        <option selected="selected">Faktura</option>
                        <option>Visa Electron</option>
                    </select>
                </p>

            <p>
                <label for="gender">Gender</label><br>
                    <input type="radio" name="gender" value="male">Male<br>
                    <input type="radio" name="gender" value="female">Female<br>
                    <input type="radio" name="gender" value="other" checked="checked">Do not wish to provide<br>
            </p>

            <button type="submit" id="button"><img src="https://tinyurl.com/ybm9whgm" width="30"> Place order!</button>
            </section>  
        </main>
        <footer>
            <p>&copy; 2019 Someone Burgers Inc</p>
        </footer>
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js"></script>       
        <script src="https://vuejs.org/js/vue.js"></script>  
        <script src="js/vue_script.js"></script>
    </body>
</html>