body {
    font-family: Arial;
    font-size: 20px;
}

.ingredient {
    font-weight: bold;
}

#orderinfo {
    font-size: 14px;
    margin-top: -20px;
}

#personalinfo p {
    font-size: 14px;
    margin-top: -20px;
}

#head {
    margin: 10px;
    height: 260px;
    overflow: hidden;
}

h1 {
    position: absolute;
    padding: 64px;
    margin-top: -740px;
}

ul {
    list-style-type: none;
    padding-left: 0pt;
}

li {
    align-content: left;
}

#headimage {
    opacity: 0.7;
    width: 100%;
    height: auto;
}

.doublesections {
    margin: 10px;
    border: 2px dashed blue;
    padding: 15px;
}

#burger {
    background-color: black;
    color: white;
}

button:hover {
    background-color: red;
    cursor:pointer;
}

#button {
    margin-top: 10px;
}

#wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: auto auto auto;
    background-color: black;
    color: white;
}

.box {
    background-color: black;
     color: white;
     padding-left: 50px;
     font-size: 100%;
}

#A {
    grid-column: 1;
    grid-row: 1;
}
#B {
    grid-column: 2;
    grid-row: 1;
}
#C {
    grid-column: 3;
    grid-row: 1;
}
/*
@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}*/